/* ==============================
 * PLUGINS & THIRD PARTY STYLES
 * ============================== */
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

button, [type=button], [type=reset], [type=submit] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
button:hover, button:focus, [type=button]:hover, [type=button]:focus, [type=reset]:hover, [type=reset]:focus, [type=submit]:hover, [type=submit]:focus {
  background-color: #11519a;
  color: #fff;
}
button:disabled, [type=button]:disabled, [type=reset]:disabled, [type=submit]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button:disabled:hover, [type=button]:disabled:hover, [type=reset]:disabled:hover, [type=submit]:disabled:hover {
  background-color: #1565c0;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
}

[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}
[type=color]:hover, [type=date]:hover, [type=datetime]:hover, [type=datetime-local]:hover, [type=email]:hover, [type=month]:hover, [type=number]:hover, [type=password]:hover, [type=search]:hover, [type=tel]:hover, [type=text]:hover, [type=time]:hover, [type=url]:hover, [type=week]:hover, input:not([type]):hover, textarea:hover {
  border-color: #b1b1b1;
}
[type=color]:focus, [type=date]:focus, [type=datetime]:focus, [type=datetime-local]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, input:not([type]):focus, textarea:focus {
  border-color: #1565c0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
  outline: none;
}
[type=color]:disabled, [type=date]:disabled, [type=datetime]:disabled, [type=datetime-local]:disabled, [type=email]:disabled, [type=month]:disabled, [type=number]:disabled, [type=password]:disabled, [type=search]:disabled, [type=tel]:disabled, [type=text]:disabled, [type=time]:disabled, [type=url]:disabled, [type=week]:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
[type=color]:disabled:hover, [type=date]:disabled:hover, [type=datetime]:disabled:hover, [type=datetime-local]:disabled:hover, [type=email]:disabled:hover, [type=month]:disabled:hover, [type=number]:disabled:hover, [type=password]:disabled:hover, [type=search]:disabled:hover, [type=tel]:disabled:hover, [type=text]:disabled:hover, [type=time]:disabled:hover, [type=url]:disabled:hover, [type=week]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #ddd;
}
[type=color]::placeholder, [type=date]::placeholder, [type=datetime]::placeholder, [type=datetime-local]::placeholder, [type=email]::placeholder, [type=month]::placeholder, [type=number]::placeholder, [type=password]::placeholder, [type=search]::placeholder, [type=tel]::placeholder, [type=text]::placeholder, [type=time]::placeholder, [type=url]::placeholder, [type=week]::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #858585;
}

textarea {
  resize: vertical;
}

[type=checkbox],
[type=radio] {
  display: inline;
  margin-right: 0.375em;
}

[type=file] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 0.75em;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease;
}
a:active, a:focus, a:hover {
  color: #104c90;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/* ==============================
 * BASE STYLES
 * ============================== */
/* COMMON */
body {
  font-family: "Consolas", "monaco", monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 3em;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper::after {
  clear: both;
  content: "";
  display: block;
}

header {
  padding: 40px 40px 0;
}
header::after {
  clear: both;
  content: "";
  display: block;
}

.brand {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background: center no-repeat;
  height: 125px;
  width: 125px;
  margin: 15px 0;
  float: left;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .brand {
    background-image: url("../img/logo.jpg");
    background-size: 175px 125px;
  }
}

a {
  color: #373737;
  border-bottom: solid 1px #333;
}
a:hover {
  color: #f26722;
}

section, aside, article {
  margin-top: 40px;
  margin-bottom: 40px;
}
section::after, aside::after, article::after {
  clear: both;
  content: "";
  display: block;
}

button, [type=button], [type=reset], [type=submit] {
  font-family: "PT Sans", sans-serif;
  background: #f26722;
}
button:hover, [type=button]:hover, [type=reset]:hover, [type=submit]:hover {
  background: #da5d1f;
}

/* NAV */
nav {
  float: right;
  margin-top: 60px;
  font-weight: bold;
}
nav li {
  display: inline-block;
  padding: 0 20px;
}

/* FOOTER */
footer {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
  text-align: center;
  padding: 40px 0;
}
footer:last-child {
  margin-right: 0;
}

.footer-wrapper {
  display: flex;
}

.social-widget {
  flex: 1;
}

/* ==============================
 * LAYOUT STYLES
 * ============================== */
/* HOME */
.basic-info::after {
  clear: both;
  content: "";
  display: block;
}

.about {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 48.8211739883%;
  margin-left: 8.5298043353%;
}
.about:last-child {
  margin-right: 0;
}

.widgets {
  background: #f4f6ef;
  padding: 40px;
}
.widgets h3 {
  font-size: 2em;
  border-bottom: solid 1px #373737;
}

.social-widget {
  background: #f4f6ef;
  padding: 40px;
}
.social-widget h3 {
  font-size: 2em;
  border-bottom: solid 1px #373737;
}

/* ==============================
 * MODULE STYLES
 * ============================== */
/* CTA */
.call-to-action {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 31.7615653177%;
  margin-right: 0;
  border: solid 1px #333;
  padding: 40px;
  background: #373737;
  color: #f4f6ef;
}
.call-to-action:last-child {
  margin-right: 0;
}

/* WIDGET */
.widget {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 31.7615653177%;
}
.widget:last-child {
  margin-right: 0;
}
.widget:last-child {
  margin-right: 0;
}

body {
  background: #d6dcdb;
}

.resume-link {
  color: #fff;
  border-bottom: none;
}

.resume-link:hover {
  color: #fff;
}

@media (max-width: 960px) {
  .about, .call-to-action, .widget {
    width: 100%;
  }

  .footer-wrapper {
    display: block;
  }
}

/*# sourceMappingURL=app.css.map */
